torch==2.6.0+cu124
torchvision==0.15.2
numpy==1.26.2
matplotlib==3.7.1
Pillow==9.5.0
requests==2.31.0
urllib3==2.0.7

ftfy==6.3.1
regex==2.5.148
tqdm==4.67.1
lmdb==1.6.2
torchattacks==3.5.1
diffusers==0.18.0
transformers==4.30.0
accelerate==0.20.3
safetensors==0.3.1
open_clip_torch==2.0.2
nltk==3.8.1
